* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
	background-color:#fff;
	background: -moz-linear-gradient(left,  rgba(204,204,204,0.15) 0%, rgba(255,255,255,0.2) 50%, rgba(204,204,204,0.25) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(204,204,204,0.15)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(204,204,204,0.25))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(204,204,204,0.15) 0%,rgba(255,255,255,0.2) 50%,rgba(204,204,204,0.25) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(204,204,204,0.15) 0%,rgba(255,255,255,0.2) 50%,rgba(204,204,204,0.25) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(204,204,204,0.15) 0%,rgba(255,255,255,0.2) 50%,rgba(204,204,204,0.25) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(204,204,204,0.15) 0%,rgba(255,255,255,0.2) 50%,rgba(204,204,204,0.25) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26cccccc', endColorstr='#40cccccc',GradientType=1 ); /* IE6-9 */
}
a {
	color:#EB6501;
}
a:hover {
	text-decoration:none;
	color:#000;
}
img {
	border:none;
}
.wrapper {
	width: 970px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 180px;
	width:100%;
	background: rgb(204,204,204); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	color: #8b8b8b;
	display: inline-block;
	font: 20px/25px Helvetica, Arial, Tahoma, sans-serif;
	margin: 0;
	border-bottom:1px solid #ccc;
	-webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 3px 10px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 3px 10px rgba(50, 50, 50, 0.3);
}
.top-line{
	padding-top:5px;
	text-align:center;
	color: #8b8b8b;
	font: 12px/18px Helvetica, Arial, Tahoma, sans-serif;
}
.top-line a{
	color: #8b8b8b;
	text-decoration:none;
}
.top-line a:hover{
	color: #EB6501;
}
.head-title{
	width:970px;
	margin:0 auto;
	padding:0px 0 0 20px;
	color:#EB6501;
	letter-spacing: 2px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
	text-transform: uppercase;
}
.head-title a{
	color:#000;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
	text-decoration:none;
}
.title-span{
	height:160px;
	padding-top:40px;
	padding-left:180px;
	background:url(images/chem_f.jpg) no-repeat 98% 41%;
}
.title-span span{
	font: 32px/35px Helvetica, Arial, Tahoma, sans-serif;
}
.head-title img{
	float:left;
	border:none;
}
.menu {
	height: 35px;
	width:100%;
	color: #8b8b8b;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	-webkit-box-shadow: 0px 3px 10px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 3px 10px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 3px 10px rgba(50, 50, 50, 0.3);
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
#nav,#nav li ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
#nav > li{
	float:left;
	width:160px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(201,201,201,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(201,201,201,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(201,201,201,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(201,201,201,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(201,201,201,0.5) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(201,201,201,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80c9c9c9',GradientType=0 ); /* IE6-9 */
}
#nav li ul{
	display:none;
	position:absolute;
	z-index:100;
	width:120px;
}
#nav li:hover ul{
	display:block
}
#nav > li{
	text-align:center;
	padding:10px 0px 10px 0px;
	border-right:1px solid #ccc;
	display:block;
}
#nav > li:first-child{
	border-radius: 0 0 0 5px;
	-moz-border-radius: 0 0 0 5px;
	-webkit-border-radius: 0 0 0 5px;
	display:block;
}
#nav > li:last-child{
	text-align:center;
	padding:10px 0px 10px 0px;
	width:165px;
	border:none;
	border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
	-webkit-border-radius: 0 0 5px 0;
	display:block;
}

#nav > li:hover{
	display:block;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(165,165,165,0.35) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(165,165,165,0.35))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(165,165,165,0.35) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(165,165,165,0.35) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(165,165,165,0.35) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(165,165,165,0.35) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#59a5a5a5',GradientType=0 ); /* IE6-9 */
}

#nav > li > a{
	letter-spacing: 1px;
	font: 12px/15px Verdana, Arial, Helvetica, sans-serif;
	color:#EB6501;
	text-decoration:none;
	display:block;
	font-weight:bold;
}

#nav li ul{
	min-width:159px;
	width:auto;
	margin-top:10px;
	background-color:#eee;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

#nav li ul li{
	text-align:left;
	padding:5px 15px 5px 15px;
	border-top:1px solid #ccc;
}
#nav li ul li:hover{
	text-align:left;
	padding:5px 15px 5px 15px;
	background-color:#fff;
}

#nav li ul li a{
	font: 12px/15px Verdana, Arial, Helvetica, sans-serif;
	color:#EB6501;
	display:block;
	text-decoration:none;
}

#nav li ul li a:hover{
	font: 12px/15px Verdana, Arial, Helvetica, sans-serif;
	color:#EB6501;
	display:block;
	text-decoration:none;
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 20px 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
	margin-bottom:10px;
}
.content {
	padding: 0 270px 20px 20px;
	min-height:500px;
	height:auto;
	text-align:justify;
	background:#;
}
.content p {
	padding:5px 0 10px 0;
	text-indent:20px;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: left;
	width: 230px;
	margin-left: -250px;
	position: relative;
	background: #;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 930px;
	margin: -100px auto 0;
	padding:20px;
	height: 70px;
	background: #;
	position: relative;
	border-top:1px solid #ccc;
	overflow:hidden;
}
.copyright{
	float:left;
	color:#666;
}
.foter-nav{
	float:left;
	position: absolute; /* Абсолютное позиционирование */
    bottom: ; /* Положение от нижнего края */
    right: 1px; /* Положение от правого края */
}
.foter-nav ul{
	list-style-type:none;
}
.foter-nav ul li{
	float:left;
	padding-left:25px;
}